<html>
	<head>
		<meta name="viewport" content="width=400">
		<title>Error {{errorCode}} {{join errorMessage " "}}</title>
		<link rel="stylesheet" type="text/css" href="/static/default.css">
	</head>
	<body class="errorPage">
		<div class="fullWidth">
			<div class="pageHead">Error {{errorCode}}</div>
			<div class="pageSubHead">
				<div><b>{{request.contextPath}}{{request.servletPath}}{{request.pathInfo}}</b></div>
				<div>
					{{#each errorMessage}}
						<div>{{this}}</div>
					{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>
